@inherits LayoutComponentBase

<HeadContent>
    <link href="css/app.bundle.css" rel="stylesheet" />
</HeadContent>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>
